.main-title{
    width: 100%;
    max-width: 980px;
    background-image: url("../../assets/img/coverWeb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
    & .title-xl{
        color: $neutral-color-a;
        line-height: 150px;
    }
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.last-tournament{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, $secondary-color-a,$primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $neutral-color-a;
    text-align: center;
    margin-bottom: 50px;

    &__left{
        width: 320px;
        height: 320px;
        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            font-size: 5rem;
            letter-spacing: .4rem;
            line-height: 1.2;
        }
    }
    &__right{
        @extend .last-tournament__left;
        flex-direction: column;

        h3{
            margin-bottom: 20px;
        }
    }
}
.tournament20-container{
    margin-bottom: 50px;
    text-align: center;

    h3{
        margin-bottom: 15px;
    }
}
.table-container{
    .card{
        min-width: 240px;
        width: 300px;
        height: auto;
        padding: 30px;
    }
}
.table20{
    &-head{
        line-height: 2;
    }
}
#table20-body tr{
    line-height: 2;
}
.results-container{


    .card{
        width: 100%;
        max-width: 628px;
        min-height: 1200px;
        padding: 30px;

        .jornadas-container{
            overflow-x: scroll;
            overscroll-behavior-x: contain;
            scroll-snap-type: x mandatory;
            height: 100%;
            display: flex;
            flex-direction: row;
            gap: 50px;
            #jornada1-container, #jornada2-container, #jornada3-container{
                min-width: 280px;
                border: 2px solid $primary-color;
                border-radius: 15px;
                padding: 30px 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 15px;
                scroll-snap-align: center;
                height: 100%;

                h3{
                    width: 100%;
                }
        }

            .score-container{
                background-color: $neutral-color-a;
                width: 100px;
                height: 70px;
                border-radius: 15px;
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                @extend .text;
                gap: 5px;
                padding: 5px;
                justify-items: center;
                align-items: center;
    
                .winner{
                    color: $primary-color-f;
                    font-weight: 700;
                }
                .winner-mark{
                    border-radius: 50%;
                    background-color: $primary-color-f;
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }

}

// .card{
//     padding: 30px 0;
//     overflow-x: scroll;
//     overscroll-behavior-x: contain;
//     scroll-snap-type: x proximity;
//     height: 100%;

//     h2{
//         width: 100%;
//     }

//     .jornadas-container{
//         width: 280px;
//         border: 2px solid $primary-color;
//         border-radius: 15px;
//         padding: 30px 0;
//         margin-bottom: 20px;
//         display: flex;

//         h3{
//             width: 100%;
//             margin-bottom: 20px;
//         }
//         #jornada1-container, #jornada2-container, #jornada3-container{
//             display: flex;
//             flex-wrap: wrap;
//             gap: 15px;
//             align-items: center;
//             justify-content: center;
//             scroll-snap-align: center;
//         }
//         .score-container{
//             background-color: $neutral-color-a;
//             width: 100px;
//             height: 70px;
//             border-radius: 15px;
//             display: grid;
//             grid-template-columns: 1fr 2fr 1fr;
//             @extend .text;
//             gap: 5px;
//             padding: 5px;
//             justify-items: center;
//             align-items: center;

//             .winner{
//                 color: $primary-color-f;
//                 font-weight: 700;
//             }
//             .winner-mark{
//                 border-radius: 50%;
//                 background-color: $primary-color-f;
//                 width: 10px;
//                 height: 10px;
//             }
//         }
//     }
// }