//colors

$primary-color: #4241D1;
$primary-color-a: #E4E4F8;
$primary-color-b: #BCBCEF;
$primary-color-c: #8686E2;
$primary-color-d: #5050D5;
$primary-color-e: #2E2EBE;
$primary-color-f: #26269E;
$primary-color-g: #1F1F7F;
$primary-color-h: #17175F;

$secondary-color-a: #42A2D1;
$secondary-color-b: #A242D1;

$neutral-color-a: #F2F2FC;
$neutral-color-b: #D2D2DC;
$neutral-color-c: #B9B9C4;
$neutral-color-d: #9F9FAA;
$neutral-color-e: #868691;
$neutral-color-f: #71717C;
$neutral-color-g: #585863;
$neutral-color-h: #40404C;
$neutral-color-i: #272733;
$neutral-color-j: #040410;