//colors

$primary-color: #4241D1;
$primary-color-a: #E4E4F8;
$primary-color-b: #BCBCEF;
$primary-color-c: #9393E5;
$primary-color-d: #6B6BDB;
$primary-color-e: #2E2EBE;
$primary-color-f: #26269E;
$primary-color-g: #1F1F7F;
$primary-color-h: #17175F;

$secondary-color-a: #2E8EBE;

$neutral-color-a: #F2F2FC;
$neutral-color-b: #CACAD4;
$neutral-color-c: #ABABB6;
$neutral-color-d: #8E8E98;
$neutral-color-e: #6E6E79;
$neutral-color-f: #50505B;
$neutral-color-g: #31313D;
$neutral-color-h: #040410;
