html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header-title {
  font-family: 'Roboto', sans-serif;
  font-size: 4.6rem;
  letter-spacing: 2rem;
  font-weight: 100;
  color: #F2F2FC;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.title, .title-s, .title-m, .card-title, .title-l, .title-xl {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
}

.title-s {
  font-size: 2.1rem;
}

.title-m, .card-title {
  font-size: 2.4rem;
}

.title-l {
  font-size: 2.8rem;
}

.title-xl {
  font-size: 3.2rem;
}

.text, .text-b, .text-l, .text-lb, .tournament20-rank, .a-btn, .card-text, .results-container .card .jornadas-container .score-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}

.text-b {
  font-weight: 700;
}

.text-l, .text-lb, .tournament20-rank {
  font-size: 1.8rem;
}

.text-lb {
  font-weight: 700;
}

.a-btn {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -20px;
  color: #F2F2FC;
  max-width: 320px;
  width: 300px;
  height: 40px;
  background-color: #A242D1;
  border-radius: 5px;
  line-height: 40px;
  -webkit-box-shadow: 0 2px 20px 0px rgba(4, 4, 16, 0.1);
          box-shadow: 0 2px 20px 0px rgba(4, 4, 16, 0.1);
}

.a-btn:hover {
  text-decoration: underline;
}

.card {
  background-color: #E4E4F8;
  min-width: 300px;
  height: 130px;
  border-radius: 15px;
  color: #8686E2;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.card-title {
  margin-bottom: 15px;
}

.card:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px 5px #d2d2dc;
          box-shadow: 0 2px 20px 5px #d2d2dc;
}

.card:hover > .card-title, .card:hover .card-text {
  color: #2E2EBE;
}

.medal, .gold, .silver, .bronze {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #040410;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gold {
  background-color: gold;
}

.silver {
  background-color: silver;
}

.bronze {
  background-color: #c98232;
}

.tournament20-rank {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 40px 160px auto;
      grid-template-columns: auto 40px 160px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 15px;
}

.tournament20-rank div:nth-child(5) {
  margin-bottom: 0;
}

.tournament20-rank .medal, .tournament20-rank .gold, .tournament20-rank .silver, .tournament20-rank .bronze {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.footer {
  width: 100%;
  height: 30px;
  background-color: #17175F;
  position: fixed;
  bottom: 0;
  z-index: 15;
}

.header {
  width: 100%;
  height: 320px;
  background: -webkit-gradient(linear, left top, right top, from(#42A2D1), to(#4241D1));
  background: linear-gradient(to right, #42A2D1, #4241D1);
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.main-title {
  width: 100%;
  max-width: 980px;
  background-image: url("../../assets/img/coverWeb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-title .title-xl {
  color: #F2F2FC;
  line-height: 150px;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.last-tournament {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#42A2D1), to(#4241D1));
  background: linear-gradient(to right, #42A2D1, #4241D1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F2F2FC;
  text-align: center;
  margin-bottom: 50px;
}

.last-tournament__left, .last-tournament__right {
  width: 320px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-tournament__left h2, .last-tournament__right h2 {
  font-size: 5rem;
  letter-spacing: .4rem;
  line-height: 1.2;
}

.last-tournament__right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.last-tournament__right h3 {
  margin-bottom: 20px;
}

.tournament20-container {
  margin-bottom: 50px;
  text-align: center;
}

.tournament20-container h3 {
  margin-bottom: 15px;
}

.table-container .card {
  min-width: 240px;
  width: 300px;
  height: auto;
  padding: 30px;
}

.table20-head {
  line-height: 2;
}

#table20-body tr {
  line-height: 2;
}

.results-container .card {
  width: 100%;
  max-width: 628px;
  min-height: 1200px;
  padding: 30px;
}

.results-container .card .jornadas-container {
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
}

.results-container .card .jornadas-container #jornada1-container, .results-container .card .jornadas-container #jornada2-container, .results-container .card .jornadas-container #jornada3-container {
  min-width: 280px;
  border: 2px solid #4241D1;
  border-radius: 15px;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  scroll-snap-align: center;
  height: 100%;
}

.results-container .card .jornadas-container #jornada1-container h3, .results-container .card .jornadas-container #jornada2-container h3, .results-container .card .jornadas-container #jornada3-container h3 {
  width: 100%;
}

.results-container .card .jornadas-container .score-container {
  background-color: #F2F2FC;
  width: 100px;
  height: 70px;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  gap: 5px;
  padding: 5px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-container .card .jornadas-container .score-container .winner {
  color: #26269E;
  font-weight: 700;
}

.results-container .card .jornadas-container .score-container .winner-mark {
  border-radius: 50%;
  background-color: #26269E;
  width: 10px;
  height: 10px;
}
/*# sourceMappingURL=style.css.map */