html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
}

.header-logo img {
  width: 170px;
  height: 30px;
}

.header-title {
  font-family: 'Roboto', sans-serif;
  font-size: 4.6rem;
  letter-spacing: 2rem;
  font-weight: 100;
  color: #F2F2FC;
  text-align: center;
}

.title, .title-s, .title-m, .card-title, .title-l, .title-xl, .title-btn, .a-btn {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
}

.title-s {
  font-size: 2.1rem;
}

.title-m, .card-title {
  font-size: 2.4rem;
}

.title-l {
  font-size: 2.8rem;
}

.title-xl {
  font-size: 3.2rem;
}

.title-btn, .a-btn {
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.spacing-s {
  margin-bottom: 1.5rem;
}

.spacing-m {
  margin-bottom: 2rem;
}

.spacing-l {
  margin-bottom: 3rem;
}

.spacing-xl {
  margin-bottom: 5rem;
}

@media (min-width: 48em) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto (73px)[8] auto;
        grid-template-columns: auto repeat(8, 73px) auto;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    gap: 20px;
  }
}

@media (min-width: 61.25em) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto (60px)[12] auto;
        grid-template-columns: auto repeat(12, 60px) auto;
  }
}

.text, .text-b, .text-l, .text-lb, .tournament20-rank, .card-text, .score-points #reset {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}

.text-b {
  font-weight: 700;
}

.text-l, .text-lb, .tournament20-rank {
  font-size: 1.8rem;
}

.text-lb {
  font-weight: 700;
}

.a-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F2F2FC;
  min-width: 250px;
  max-width: 320px;
  height: 50px;
  background-color: #2E2EBE;
  border-radius: 25px;
  -webkit-box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.a-btn:hover {
  text-decoration: underline;
  -webkit-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.card {
  background-color: #E4E4F8;
  width: 100%;
  height: 100%;
  min-width: 300px;
  border-radius: 15px;
  color: #9393E5;
  text-align: center;
  -webkit-box-shadow: 0 4px 4px 0px rgba(4, 4, 16, 0.2);
          box-shadow: 0 4px 4px 0px rgba(4, 4, 16, 0.2);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.card-title {
  color: #31313D;
}

.card-text {
  color: #6E6E79;
}

.card:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0px rgba(4, 4, 16, 0.1);
          box-shadow: 0 2px 2px 0px rgba(4, 4, 16, 0.1);
}

.card:hover:hover > i {
  color: #4241D1;
}

.medal, .gold, .silver, .bronze {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #040410;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 4px 0px rgba(4, 4, 16, 0.2);
          box-shadow: 0 4px 4px 0px rgba(4, 4, 16, 0.2);
}

.gold {
  background-color: gold;
}

.silver {
  background-color: silver;
}

.bronze {
  background-color: #c98232;
}

.tournament20-rank {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 40px 160px auto;
      grid-template-columns: auto 40px 160px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 15px;
}

.tournament20-rank div:nth-child(5) {
  margin-bottom: 0;
}

.tournament20-rank .medal, .tournament20-rank .gold, .tournament20-rank .silver, .tournament20-rank .bronze {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.footer {
  width: 100%;
  height: 30px;
  background-color: #17175F;
  position: fixed;
  bottom: 0;
  z-index: 15;
}

.header {
  width: 100%;
  height: 320px;
  background: -webkit-gradient(linear, left top, right top, from(#2E8EBE), to(#4241D1));
  background: linear-gradient(to right, #2E8EBE, #4241D1);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 50px 220px 25px 50px;
      grid-template-rows: 50px 220px 25px 50px;
}

.header .header-logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .header-logo img {
  margin-left: 20px;
}

.header h1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .a-btn {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.main-title {
  width: 100%;
  max-width: 980px;
  background-image: url("../../assets/img/coverWeb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main-title .title-xl {
  color: #F2F2FC;
  line-height: 150px;
}

.cards-container {
  max-width: 980px;
  display: -ms-grid;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
}

.cards-container .card {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-container .card i {
  font-size: 40px;
  color: #9393E5;
}

.cards-container .card .a-btn {
  max-width: 200px;
}

.last-tournament {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#2E8EBE), to(#4241D1));
  background: linear-gradient(to right, #2E8EBE, #4241D1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F2F2FC;
  text-align: center;
}

.last-tournament__left, .last-tournament__right {
  width: 320px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-tournament__left h2, .last-tournament__right h2 {
  font-size: 5rem;
  letter-spacing: .4rem;
  line-height: 1.2;
}

.last-tournament__right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  grid-column: 7/-2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside .card {
  background-color: #F2F2FC;
  padding: 30px;
  min-width: 280px;
}

aside .card .title-m, aside .card .card-title {
  color: #2E2EBE;
}

aside .card p {
  color: #31313D;
}

aside .card .table20 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside .card .table20 thead {
  color: #040410;
}

aside .card .table20 tbody {
  color: #50505B;
  line-height: 2;
  padding: 5px;
}

.results-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
}

header {
  height: 50px;
  position: static;
}

.score-points {
  height: calc(100vh-50px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 20px 2fr;
      grid-template-columns: 2fr 20px 2fr;
  -ms-grid-rows: 50px auto 50px 10vh;
      grid-template-rows: 50px auto 50px 10vh;
  row-gap: 20px;
  margin: 50px 0;
}

.score-points #plus-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.score-points #score-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.score-points #minus-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.score-points #plus-right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.score-points #score-right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.score-points #minus-right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.score-points .btn-container {
  grid-column: 1 / -1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  margin-top: 30px;
}

.score-points #reset {
  display: block;
  border: none;
  color: #F2F2FC;
  max-width: 320px;
  width: 300px;
  height: 40px;
  background-color: #2E8EBE;
  border-radius: 5px;
  line-height: 40px;
  -webkit-box-shadow: 0 2px 20px 0px rgba(4, 4, 16, 0.1);
          box-shadow: 0 2px 20px 0px rgba(4, 4, 16, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.score-points .arrow {
  background: none;
  border: none;
  font-size: 64px;
  color: #BCBCEF;
}

.score-points .score-font {
  background: none;
  border: none;
  font-size: calc(35vw - 10vh);
  color: #F2F2FC;
  line-height: .8;
}
/*# sourceMappingURL=style.css.map */